body {
  padding-top: 70px;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.hero-spacer {
  margin-top: 50px;
}

.hero-feature {
  margin-bottom: 30px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.fa-shopping-cart {
  padding-top: 5px;
}

#cart {
  padding-top: 15px;
}

/* category | products */
.category-images {
  max-height: 300px;
  width: auto;
}

.breadcrumb {
  margin-top: 10px;
}

.slide-image {
    width: 100%;
}

.caption {
    height: 130px;
    overflow: hidden;
    h4 {
      white-space: nowrap;
    }
}

.thumbnail {
    padding: 0;
    .caption-full {
      padding: 9px;
      color: #333;
    }
    img {
      width: 100%;
    }
}

.product-image-wrapper {
  max-height: 400px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  .product-image {
    max-height: 100%;
    max-width: 100%;
    width: auto;
  }
}





#search-bar {
  float: right;
}

footer {
  margin: 25px 0;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}
