<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Cart</li>
</ol>

<div class="row">

  <div class="col-md-2"></div>

  <div class="col-md-8">
    <h3>Your Shopping Cart:</h3>

    <div class="row">

      <div class="col-sm-6 col-lg-6 col-md-6" ng-href="/product/{{product.productid}}" ng-repeat="product in results">
        <div class="thumbnail">
          <img class="category-images" ng-src="images/{{product.productid}}.jpg" alt="">
          <div class="caption">
            <h4>
              <a ng-href="/product/{{product.productid}}">{{product.productname}}</a>
            </h4>
            <h4 class="pull-right">{{product.productprice}}</h4>
            <p>{{product.productdescription}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-2"></div>

</div>
