<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li ng-hide="type" class="active">{{category}}</li>
  <li ng-show="type"><a ng-href="/category/{{category}}">{{category}}</a></li>
  <li ng-show="type" class="active">{{type}}</li>
</ol>

<div class="row">

  <div class="col-md-2">
    <p class="lead"><a ng-href="/category/{{category}}">{{category}}</a></p>
    <div class="list-group" ng-repeat="item in list">
      <a ng-href="/category/{{category}}/{{item.categoryName}}" class="list-group-item">{{item.categoryName}}</a>
    </div>
  </div>

  <div class="col-md-10">

    <div class="row">

      <div class="col-sm-4 col-lg-4 col-md-4" ng-href="/product/{{product.productID}}" ng-repeat="product in products">
        <div class="thumbnail">
          <img class="category-images" ng-src="images/{{product.productID}}.jpg" alt="">
          <div class="caption">
            <h4>
              <a ng-href="/product/{{product.productID}}">{{product.productName}}</a>
            </h4>
            <h4 class="pull-right">${{product.productPrice}}</h4>
            <p>{{product.productDescription}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
