<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a ng-href="/category/{{categories.parent}}">{{categories.parent}}</a></li>
  <li><a ng-href="/category/{{categories.parent}}/{{categories.categoryName}}">{{categories.categoryName}}</a></li>
  <li class="active">{{product.productName}}</li>
</ol>

<div class="row">

  <div class="col-md-3">
  </div>

  <div class="col-md-6">

    <div class="thumbnail">
      <div class="product-image-wrapper">
        <img class="img-responsive product-image" ng-src="/images/{{product.productID}}.jpg" alt="">
      </div>
      <div class="caption-full" id="extend-capt">
        <div class="pull-right">
          <h4>${{product.productPrice}}</h4>
          <div class="input-group">
            <div id="qty-text">Quantity:   </div>
            <input id="product-qty" type="text" ng-value="quantity" ng-model="quantity" />
          </div>
          <button type="button" class="btn btn-primary btn-xs" ng-click="addToCart(product)">Add to Cart <i class="fa fa-shopping-cart"></i></button>
        </div>
        <h3>{{product.productName}}</h3>
        <p>{{product.productDescription}}</p>
      </div>
    </div>

  </div>
</div>
