<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a ng-href="/category/{{categories.parent}}">{{categories.parent}}</a></li>
  <li><a ng-href="/category/{{categories.parent}}/{{categories.categoryname}}">{{categories.categoryname}}</a></li>
  <li class="active">{{product.productname}}</li>
</ol>

<div class="row">

  <div class="col-md-2">
  </div>

  <div class="col-md-8">

    <div class="thumbnail">
      <img class="img-responsive" ng-src="/images/{{product.productid}}.jpg" alt="">
      <div class="caption-full">
        <div class="pull-right">
          <h3>{{product.productprice}}</h3>
          <button type="button" class="btn btn-primary btn-xs">Add to Cart <i class="fa fa-shopping-cart"></i></button>
        </div>
        <h3>{{product.productname}}</h3>
        <p>{{product.productdescription}}</p>
      </div>
    </div>

  </div>
</div>
