/* CSS */
body {
  padding-top: 70px; }

.hero-spacer {
  margin-top: 50px; }

.hero-feature {
  margin-bottom: 30px; }

ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block; }

.fa-shopping-cart {
  padding-top: 5px; }

#cart-icon {
  padding-top: 15px; }

/* category | products */
.category-images {
  max-height: 300px;
  width: auto; }

.breadcrumb {
  margin-top: 10px; }

.slide-image {
  width: 100%; }

.caption {
  height: 130px;
  overflow: hidden; }
  .caption h4 {
    white-space: nowrap; }

.caption-product {
  max-width: 350px;
  width: 100%;
  float: right; }

.thumbnail {
  padding: 0; }
  .thumbnail .caption-full {
    padding: 9px;
    color: #333; }
  .thumbnail img {
    width: 100%; }

.product-image-wrapper {
  max-height: 400px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto; }
  .product-image-wrapper .product-image {
    max-height: 100%;
    max-width: 100%;
    width: auto; }

#extend-capt {
  padding-bottom: 50px; }

#product-qty {
  display: inline-block;
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
  max-width: 30px; }

#qty-text {
  display: inline-block; }

#search-bar {
  float: right; }

/* Cart */
.cart-images {
  max-height: 200px;
  width: auto; }

#cart-qty {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
  max-width: 35px; }

footer {
  margin: 25px 0; }

/* Receipt */
.text-right {
  text-align: right; }

/* ETC */
@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block; } }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }
