body {
  padding-top: 70px;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */ }

.hero-spacer {
  margin-top: 50px; }

.hero-feature {
  margin-bottom: 30px; }

ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block; }

.fa-shopping-cart {
  padding-top: 10px; }

/* category | products */
.category-images {
  max-height: 300px;
  width: auto; }

.breadcrumb {
  margin-top: 10px; }

.slide-image {
  width: 100%; }

.caption {
  height: 130px;
  overflow: hidden; }
  .caption h4 {
    white-space: nowrap; }

.thumbnail {
  padding: 0; }
  .thumbnail .caption-full {
    padding: 9px;
    color: #333; }
  .thumbnail img {
    width: 100%; }

#search-bar {
  float: right; }

footer {
  margin: 25px 0; }

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block; } }
